/* Full page center */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #355c7d, #6c5b7b, #c06c84);
}

/* Card */
.card {
  width: 350px;
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.5s ease-in-out;
}

/* Title */
h2 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #355c7d;
  font-weight: 600;
}

/* Small description */
.subtitle {
  font-size: 13px;
  color: #777;
  margin-bottom: 20px;
}

/* Inputs */
.full {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

/* Button */
button {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 10px;
  background: #355c7d !important;
  color: #fff !important;
}

/* Hover */
button:hover {
  transform: translateY(-2px);
  transition: 0.3s;
}

/* Back link */
p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #6c5b7b;
  text-decoration: none;
  font-weight: 500;
}

p a:hover {
  text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}